.page {
    padding: 5em;
}
.ulContainer {
    margin: 3em;
}
.listItem {
    margin: 2em;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0.25em;
    padding: 0.75em;
    max-width: 700px;
}
.image {
    width: 150px;
    height: 100px;
    object-fit: contain;
}
.titleItem {
    max-width: 450px;
}
.priceItem {
}
